html, body {
		height: 100%;
		width: 100%;		
		padding: 0;
		margin: 0;
		font: 10px Arial;
      }


#options {
		width: 100%; 
		height: 4%; 
		background: white;
		font: 16px Arial;
		}

#info {
		width: 100%; 
		height:50%;
		padding: 0;
		margin: 0;
	 	background: white;
	 	position: relative;
	 	float: right;
	 	}

#chart {
		width: 99%; 
		height:42%;
		padding: 0;
		margin: 0;
	 	background: white;
	 	}		

p {padding-left: 10px}

.box {font: 12px Arial}
 
.link {stroke-opacity: 0.6}

.link:hover {
  stroke-opacity: 0.8;
}

.gauge {fill-opacity: 0.3}






